mat-card{
    background-color: #1a1a1a;
    text-align: center;
    margin: 0rem 1rem 0rem 1rem;
}

.timer{
    font-size: 36px;
    text-shadow: rgba(18,182,252,0.9) 0px 0px 40px;
}

.headline{
    text-shadow: rgba(18,182,252,0.9) 0px 0px 8px;
}

.end-banner{
    text-shadow: rgba(18,182,252,0.9) 0px 0px 12px;
}