h2{
    color: black;
}

mat-card-header{
    justify-content: center;
}

mat-card{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field{
    display: block;
}

mat-icon{
    color: black;
}

p{
    padding: 1rem;
    color: black;
}

p:hover{
    cursor: pointer;
}